.container {
  width: 405px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.item {
  display: flex;
  padding: 5px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  align-items: center;
}
